#root {
  max-width: 1280px;
  margin: 0 auto;
}

.todoapp {
  margin-inline: 0.50em;
  margin-bottom: 0.75em;
}

.user-inputs {
  text-align: left;
}

.todo-list-container {
  max-height: 240px;
  overflow-y: auto;
  overflow-x: auto;
}

.todo-list-container thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

th, td {
  padding: 0.75em;
  border: 1px solid #ccc
}

.user-input-buttons {
  margin-top: 0.75em;
}
.user-input-buttons button {
  margin-right: 0.75em;
}